// utils
@import "utils/fonts";
@import "utils/mixins";
@import "utils/variables";

// Atoms
@import "atoms/image";
@import "atoms/link";
@import "atoms/spinner";
@import "atoms/text";
@import "atoms/title";

// Molecules
@import "molecules/container";
@import "molecules/list";

// Organisms
@import "organisms/footer";

html {
  height: 100%;
}

body {
  font-family: $inconsolata;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &.attachments-view {
    overflow: hidden;
  }
}

.of-hidden {
  overflow: hidden;
}