// utils
@import "utils/fonts";
@import "utils/variables";

// Atoms
@import "atoms/image";
@import "atoms/link";
@import "atoms/spinner";
@import "atoms/text";
@import "atoms/title";

// Molecules
@import "molecules/container";
@import "molecules/list";

// Organisms
@import "organisms/footer";

body {
  font-family: $inconsolata;

  &.attachments-view {
    overflow: hidden;
  }
}

.of-hidden {
  overflow: hidden;
}