@font-face {
  font-family: 'inconsolata';
  src: url("../../fonts/inconsolata/inconsolata-webfont.woff2") format("woff2"), url("../../fonts/inconsolata/inconsolata-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: "inconsolata", Helvetica, Arial, sans-serif; }
