@font-face {
  font-family: 'inconsolata';
  src: url('../../fonts/inconsolata/inconsolata-webfont.woff2') format('woff2'),
  url('../../fonts/inconsolata/inconsolata-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'rubik';
  src: url('../../fonts/rubik/rubik-medium-webfont.woff2') format('woff2'),
  url('../../fonts/rubik/rubik-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}