// Fonts
$inconsolata: 'inconsolata', Helvetica, Arial, sans-serif;
$rubik: 'rubik', Helvetica, Arial, sans-serif;

// Colors
$black-light: rgba(19, 19, 19, 0.5);
$black-dark: #131313;
$black-darker: #181818;

$green: #20f26f;