// Fonts
$inconsolata: 'inconsolata', Helvetica, Arial, sans-serif;
$rubik: 'rubik', Helvetica, Arial, sans-serif;

// Colors
$black-light: rgba(19, 19, 19, 0.5);
$black-dark: #131313;
$black-darker: #181818;

$green: #20f26f;

// Transitions & animations
$default-duration: .5s;
$default-ease: ease-in-out;
$default-delay: .5s;
$hover-duration: .25s;
$parallax-duration: .1s;

$main-transition: all $default-duration $default-ease;
$hover-transition: all $hover-duration $default-ease;
$parallax-transition: all $parallax-duration $default-ease;

$fade-in: fadeIn $default-duration $default-ease;
$expand-to-right: expandToRight $default-duration $default-ease both $default-delay;
$reduce-to-right: reduceToRight $default-duration $default-ease both $default-delay;
$slide-to-right: slideToRight $default-duration $default-ease both $default-delay;
$slide-to-left: slideToLeft $default-duration $default-ease both $default-delay;

$sk-scaleout: sk-scaleout 1.0s infinite ease-in-out;

$box-shadow: boxShadow $default-duration $default-ease both 1s;


@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes expandToRight {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes reduceToRight {
  from {
    width: 100%;
  }

  to {
    width: 0;
  }
}

@keyframes slideToRight {
  from {
    transform: translate3d(-150%, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideToLeft {
   from {
     transform: translate3d(150%, 0, 0);
   }

   to {
     transform: translate3d(0, 0, 0);
   }
}

@keyframes sk-scaleout {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes boxShadow {
  from {
    box-shadow: none;
  }

  to {
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  }
}