@font-face {
  font-family: 'inconsolata';
  src: url("../../fonts/inconsolata/inconsolata-webfont.woff2") format("woff2"), url("../../fonts/inconsolata/inconsolata-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'rubik';
  src: url("../../fonts/rubik/rubik-medium-webfont.woff2") format("woff2"), url("../../fonts/rubik/rubik-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes expandToRight {
  from {
    width: 0; }
  to {
    width: 100%; } }

@keyframes reduceToRight {
  from {
    width: 100%; }
  to {
    width: 0; } }

@keyframes slideToRight {
  from {
    transform: translate3d(-150%, 0, 0); }
  to {
    transform: translate3d(0, 0, 0); } }

@keyframes slideToLeft {
  from {
    transform: translate3d(150%, 0, 0); }
  to {
    transform: translate3d(0, 0, 0); } }

@keyframes sk-scaleout {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1);
    opacity: 0; } }

@keyframes boxShadow {
  from {
    box-shadow: none; }
  to {
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1); } }

.work-image {
  width: 100%;
  position: relative;
  display: inline-block;
  animation: boxShadow 0.5s ease-in-out both 1s; }

.dribbble-works-list-container li .work-image-container {
  position: relative; }
  .dribbble-works-list-container li .work-image-container:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 10;
    animation: reduceToRight 0.5s ease-in-out both 0.5s; }
  .dribbble-works-list-container li .work-image-container .geometric-forms {
    content: '';
    position: absolute;
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out both 1s; }

.dribbble-works-list-container li:first-child .dribbble-works-list-wrapper .work-image-container .geometric-forms, .dribbble-works-list-container li:nth-child(5) .dribbble-works-list-wrapper .work-image-container .geometric-forms {
  top: -60px;
  right: -60px;
  width: 184px;
  height: 184px;
  border-radius: 50%;
  background: url("../../images/waves2.svg") 50% 50%; }
  @media screen and (max-width: 768px) {
    .dribbble-works-list-container li:first-child .dribbble-works-list-wrapper .work-image-container .geometric-forms, .dribbble-works-list-container li:nth-child(5) .dribbble-works-list-wrapper .work-image-container .geometric-forms {
      width: 84px;
      height: 84px;
      top: -10px;
      right: -10px; } }

.dribbble-works-list-container li:nth-child(2) .work-image-container .geometric-forms {
  top: -67px;
  left: 37px;
  width: 232px;
  height: 112px;
  background: rgba(255, 134, 173, 0.3);
  transform: translate3d(-50%, 0, 0); }
  @media screen and (max-width: 768px) {
    .dribbble-works-list-container li:nth-child(2) .work-image-container .geometric-forms {
      top: -25px;
      left: 89px;
      width: 116px;
      height: 56px; } }

.dribbble-works-list-container li:nth-child(3) .dribbble-works-list-wrapper .work-image-container .geometric-forms {
  top: -60px;
  left: 100px;
  width: 184px;
  height: 184px;
  background: rgba(0, 198, 255, 0.3);
  border-radius: 50%; }
  @media screen and (max-width: 768px) {
    .dribbble-works-list-container li:nth-child(3) .dribbble-works-list-wrapper .work-image-container .geometric-forms {
      width: 84px;
      height: 84px;
      top: -40px; } }

.dribbble-works-list-container li:nth-child(4) .dribbble-works-list-wrapper .work-image-container .geometric-forms {
  top: -82px;
  left: -57px;
  width: 232px;
  height: 127px;
  background: url("../../images/waves.svg") 50% 50%; }
  @media screen and (max-width: 768px) {
    .dribbble-works-list-container li:nth-child(4) .dribbble-works-list-wrapper .work-image-container .geometric-forms {
      width: 116px;
      height: 63px;
      background-size: cover;
      top: -36px;
      left: 17px; } }

a {
  color: #131313;
  position: relative;
  display: inline-block; }
  a.visible:after {
    animation: expandToRight 0.5s ease-in-out both 0.5s; }
  a:hover, a:focus {
    text-decoration: none;
    color: #131313; }
    a:hover:after, a:focus:after {
      background: #20f26f;
      transform: translate3d(0, 3px, 0); }
  a.socials-link {
    font-size: 24px; }
  a.work-attachments-button {
    font-size: 20px;
    line-height: 32px; }
  a.footer-link {
    font-size: 16px; }
  a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: #181818;
    transition: all 0.25s ease-in-out;
    border-radius: 2px; }

.spinner-container,
.spinner-attachments-container {
  display: none;
  width: 100px;
  height: 100px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 15; }

.spinner,
.spinner-attachments {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: #20f26f;
  animation: sk-scaleout 1s infinite ease-in-out; }

.spinner-attachments {
  display: none; }

p {
  color: #131313; }
  p.wiliam-description {
    font-size: 24px;
    line-height: 30px; }
    @media screen and (max-width: 768px) {
      p.wiliam-description {
        font-size: 20px; } }
    p.wiliam-description .green {
      color: #20f26f; }
  p.work-date {
    font-size: 20px;
    line-height: 28px; }
  p.footer-text {
    font-size: 16px;
    color: #131313; }

.work-description p {
  color: rgba(19, 19, 19, 0.5);
  font-size: 20px;
  line-height: 24px; }

h1,
h2 {
  font-family: "rubik", Helvetica, Arial, sans-serif; }

h1 {
  font-size: 48px;
  color: #181818; }
  @media screen and (max-width: 768px) {
    h1 {
      font-size: 30px;
      margin: 30px 0; } }

h2 {
  font-size: 30px;
  color: #131313; }
  @media screen and (max-width: 768px) {
    h2 {
      margin: 30px 0; } }

.container-fluid {
  display: none; }

.dribbble-works-list-container {
  min-height: 75vh; }

.work-attachments-container {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  overflow-y: auto;
  overflow-x: hidden; }
  .work-attachments-container .attachments-image-container {
    width: 100%;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center; }
    .work-attachments-container .attachments-image-container img {
      cursor: zoom-in;
      max-width: 70vh; }
    .work-attachments-container .attachments-image-container.attachment-big {
      -ms-flex-align: start;
      align-items: flex-start; }
      .work-attachments-container .attachments-image-container.attachment-big img {
        max-width: none;
        cursor: zoom-out; }
  .work-attachments-container .glyphicon-remove {
    font-size: 30px;
    position: absolute;
    top: 50px;
    right: 50px;
    color: white;
    cursor: pointer; }
  @media screen and (max-width: 992px) {
    .work-attachments-container {
      overflow-x: auto; }
      .work-attachments-container .attachments-image-container img {
        max-width: 50vh; }
      .work-attachments-container .attachments-image-container.attachment-big {
        -ms-flex-pack: start;
        justify-content: flex-start; }
      .work-attachments-container .glyphicon-remove {
        top: 10px;
        right: 10px; } }

ul.socials-list {
  margin-top: 60px; }
  ul.socials-list li {
    display: inline-block;
    margin-right: 50px; }
  @media screen and (max-width: 768px) {
    ul.socials-list {
      margin-top: 30px; }
      ul.socials-list li {
        margin: 0 20px 20px 0; } }
  @media screen and (max-width: 992px) {
    ul.socials-list li {
      margin-bottom: 30px; } }

ul.dribbble-works-list-container li.row {
  margin: 200px 0;
  animation: fadeIn 0.5s ease-in-out; }
  ul.dribbble-works-list-container li.row .dribbble-works-list-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center; }
  ul.dribbble-works-list-container li.row:nth-child(odd) .dribbble-works-list-wrapper > div:last-child {
    margin-left: 8.33333333%; }
  ul.dribbble-works-list-container li.row:nth-child(even) .dribbble-works-list-wrapper {
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }
    ul.dribbble-works-list-container li.row:nth-child(even) .dribbble-works-list-wrapper > div:last-child {
      margin-right: 8.33333333%; }
    ul.dribbble-works-list-container li.row:nth-child(even) .dribbble-works-list-wrapper .work-image-container.visible {
      animation: slideToLeft 0.5s ease-in-out both 0.5s; }
  ul.dribbble-works-list-container li.row:last-child {
    margin-bottom: 100px; }
  @media screen and (width: 768px) and (height: 1024px) {
    ul.dribbble-works-list-container li.row .dribbble-works-list-wrapper {
      display: -ms-flexbox !important;
      display: flex !important; } }
  @media screen and (max-width: 768px) {
    ul.dribbble-works-list-container li.row {
      margin: 50px 0; }
      ul.dribbble-works-list-container li.row .dribbble-works-list-wrapper {
        display: block; }
      ul.dribbble-works-list-container li.row:nth-child(odd) .dribbble-works-list-wrapper > div:last-child {
        margin-left: 0; }
      ul.dribbble-works-list-container li.row:nth-child(even) .dribbble-works-list-wrapper > div:last-child {
        margin-right: 0; } }

footer {
  text-align: center;
  margin-bottom: 35px;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0; }

html {
  height: 100%; }

body {
  font-family: "inconsolata", Helvetica, Arial, sans-serif;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center; }
  body.attachments-view {
    overflow: hidden; }

.of-hidden {
  overflow: hidden; }
