.work-image {
  width: 100%;
  position: relative;
  display: inline-block;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
}

.dribbble-works-list-container {
  li {
    .col-xs-4 {
      .work-image-container {
        &:after {
          content: '';
          position: absolute;
        }
      }
    }
    &:first-child,
    &:nth-child(5) {
      .col-xs-4 {
        .work-image-container {
          &:after {
            top: -60px;
            right: -60px;
            width: 184px;
            height: 184px;
            border-radius: 50%;
            background: url("../../images/waves2.svg");
          }
        }
      }
    }

    &:nth-child(2) {
      .col-xs-4 {
        .work-image-container {
          &:after {
            top: -67px;
            left: 50%;
            width: 232px;
            height: 112px;
            background: rgba(255, 134, 173, 0.3);
            transform: translate3d(-50%, 0, 0);
          }
        }
      }
    }

    &:nth-child(3) {
      .col-xs-4 {
        .work-image-container {
          &:after {
            top: -60px;
            left: 100px;
            width: 184px;
            height: 184px;
            background: rgba(0, 198, 255, 0.3);
            border-radius: 50%;
          }
        }
      }
    }

    &:nth-child(4) {
      .col-xs-4 {
        .work-image-container {
          &:after {
            top: -82px;
            left: -57px;
            width: 232px;
            height: 127px;
            background: url("../../images/waves.svg");
          }
        }
      }
    }
  }
}