a {
  color: $black-dark;
  position: relative;
  display: inline-block;

  &.visible {
    &:after {
      animation: $expand-to-right;
    }
  }

  &:hover,
  &:focus {
    text-decoration: none;

    &:after {
      background: $green;
      transform: translate3d(0, 3px, 0);
    }
  }

  &.socials-link {
    font-size: 24px;
  }

  &.work-attachments-button {
    font-size: 20px;
    line-height: 32px;
  }

  &.footer-link {
    font-size: 16px;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: $black-darker;
    transition: $hover-transition;
  }
}